html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.link-card {
  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;

  border-style: solid;
  border-color: #9a816d;
  border-radius: 3px;
  border-width: 3px;
  display: block;

  margin: .5rem;
  padding: .5rem 1rem 0;
}

h2, .btn {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  padding-top: .75rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
  border-color: #512200;
}

.link-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: .75rem;
}

.list div {
  text-decoration: none;
}

.btn {
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #785439;
  background-color: #785439;
  color: #f0eee8;
  font-size: 1.125rem;
  text-decoration: none;
  padding: .4em .75em .5em;
  display: inline-block;
}

dl {
  list-style-type: none;
  font-size: .875rem;
  margin-top: 0;
  padding: 1rem;
  padding-left: 0;
  border-color: #9a816d;
  border-width: 2px;
  border-style: solid;
  border-left: 0;
  border-right: 0;

  overflow: hidden;
}

dt {
  display: inline-block;
  width: 30%;
}

dd {
  font-style: italic;
  display: inline-block;
  text-align: left;
  padding-left: .2rem;
  width: 52%;
}

footer {
  margin: 0 0 1rem;
  text-align: center;
}
